
<%= link_to 'Back', attachments_path %>

<div class="form">
<%= semantic_form_for @attachment do |f| %>
    <%= f.inputs do %>
       <div class="attachment_name">
       <%= f.input :file_name %>
       </div>
    <% end %>
<% end %>
