<html>

<body>

<% unless @attachments.empty? %>
    <% @attachments.each do |attachment| %>
      <td><%= attachment.id %></td>
      <td><%= link_to attachment.id, attachment %></td>
      <td><%= link_to attachment.file_name, attachment %></td>     
      <td><%= link_to(edit_attachment_path(attachment), class: "btn btn-small") do %>
          Edit <i class="icon-edit icon-white"></i></td></tr>
        <% end %>
    <% end %> 
  <% end %>  

</body>
</html>       