<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  
</head>
<body>
<table class="table table-bordered">
	<tr>
		<th></th>
		<th>Step</th>
		<th>Status</th>
		<th>Status</th>
	</tr>
	<tr>
		<td></td>
		<td>Gather Materials</td>
		<td><span class="label label-success">In Progress</span></td>
		<td><span class="label label-important">Complete</span></td>
	</tr>
	</table>

<!-- <div class="progress progress-success">
  <div class="bar" style="width: 40%"></div>
  </div> -->
  <div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>

</body>
</html>
	